@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Skranji:wght@700&family=Texturina:opsz,wght@12..72,100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Texturina, sans-serif;
    font-weight: 300px;
    background-image: url(../images/siora-photography-228Ug-nLxx8-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: #ac140c;
    color: rgb(241, 206, 3);
}

/* Headings and logo*/

h1, h2 {
    font-family: Skranji, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: goldenrod;
}

#logo {
    font-size: 500%;
    float: left;
    margin: 10px 20px 10px 20px;
}

#tag {
    font-family: dancing script, sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    position: relative;
    top: 100px;
    right: 300px;
}

/* Navigation links*/

#nav-links {
    font-size: 130%;
    letter-spacing: 4px;
    line-height: 75px;
    font-weight: bold;
}

#nav-links li {
    float: right;
    margin: 15px 0 0 0px;
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    
}

#nav-links a:hover {
    color: beige;
}

header {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*BUGGED*/
.active {
    border: 1px solid beige;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

/*About Us*/

#about-us {
    text-align: center;
    margin-top: 30px;
}

#description {
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    font-size: 150%; 
    font-weight: 500;

}